.layout-main{
    background-color: #fffffe;
}
.layout-chart{
    margin-bottom: 60px;
    height: 50vh;
    background-color: #fffffe;
    padding: 2rem;
    padding-top: 0rem;
}
.layout-table::before{
    content: '';
    display: block;
    
    height: 1px;
    width: 100%;
    box-shadow: 0 0px 20px 2px grey;
}