.page-nav{
    height: 100%;
}
.page-nav div{
    height: 100%;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.page-header{
    padding-right: 71%;
}
span.ant-page-header-heading-extra{
    margin: 0;
    height: 100%;
}
span.ant-page-header-heading-extra button{
    height: 100%;
    margin-left: 0;
    border: none;
}
span.ant-page-header-heading-extra button:not(:last-child){
    border-right: 2px solid lightgrey;
}