.page-nav{
    height: 100%;
}
.page-nav div{
    height: 100%;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.page-header{
    padding-right: 67%;
}
span.ant-page-header-heading-extra{
    margin: 0;
    height: 100%;
}

span.ant-page-header-heading-extra a {
    height: 100%;
    margin-left: 0;
    border: none;
    background-color: #f2f4f6;
}

.ant-btn {
    height: 100%;
    margin-left: 0;
    border: none;
    background-color: #f2f4f6;
}

.active {
    height: 100%;
    margin-left: 0;
    border: none;
    background-color: red;
}