.table-info {
  display: inline-block;
  margin: 0.5rem;
  margin-left: 90%;
  padding: 0.5rem 1.5rem;
  border: solid 1px lightgrey;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 lightgrey;
}

.table-actions {
  display: grid;
  grid-template-columns: repeat(1, 9fr 1fr);
  gap: 5px;

  width: 25%;
  margin-bottom: .5rem;
  float: right;
}
.btns-actions {
  button{
    height: 100%;
  }
}

.menu-operations Button {
  width: 100% !important;
}

.num-rows {
  font-weight: bold;
}
