.table-info {
  display: inline-block;
  margin: 0.5rem;
  margin-left: 90%;
  padding: 0.5rem 1.5rem;
  border: solid 1px lightgrey;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 lightgrey;
}

.table-actions {
  width: 25%;
}
.btns-actions {
  margin-bottom: 0.2rem !important;
}
.exportButton,
.downloadButton,
.deleteButton {
  width: 100% !important;
}
.table-actions {
  float: right;
}

.num-rows {
  font-weight: bold;
}
