.table-info {
  display: inline-block;
  margin: 0.5rem;
  margin-left: 90%;
  padding: 0.5rem 1.5rem;
  border: solid 1px lightgrey;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 lightgrey;
}
.deleteButton {
  width: 110%;
}

.table-actions {
  width: 30%;
}
.btns-actions {
  display: grid;
  grid-template-columns: repeat(3, 32.5%);
  gap: 5px;

  margin-bottom: 0.2rem !important;

  // Button {
  //   span {
  //     width: 0;
  //     overflow-x: hidden;
  //     transition: .2s;
  //   }
  //   &:hover {
  //     span {
  //       width: 100%;
  //       overflow-x: visible;transition: .2s;
  //     }
  //   }
  // }
}
.exportButton {
  width: 100px !important;
}
.downloadButton {
  width: 110px !important;
}
.table-actions {
  // display: inline;
  float: right;
  Button {
    width: 100% !important;
    margin: 0 0 0.1rem 0;
  }
}

.num-rows {
  font-weight: bold;
}
